@model List<ConsumingTwitterApi.Models.RetweetedStatus>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Consuming Twitters Api</h1>

</div>

<div class = "subtitle">These are the last <span style="font-weight:bold;" >@Model.Count()</span> tweets from <span style="font-weight:bold;" >@Model[0].User.Name</span> </div>

@foreach(var tweet in Model)
{
    <li style="list-style: none;" class = "tweetList"> <span style="font-weight:bold;"> @tweet.GetFormattedCreatedAt() </span> <span class = "scrnName"> @tweet.User.ScreenName </span> @tweet.Text </li>
 }
